.house-position-fixed__wall{
	height: 250px;
	width: 300px;
	border: 3px solid #c34d0a;
	background: #c34d0a;
	border-radius: 300px/250px;
	position: fixed;
	left: 23px;
	top: 362px;
}
.house-position-fixed__tail{
	width: 8px;
	border-top: 80px solid #0a4500;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-radius: 50px 50px 0 0;
	position: fixed;
	left: 160px;
	top: 300px;
}
.house-position-fixed__door{
	height: 75px;
	width: 75px;
	border: 1px solid #140f0b;
	background: #4d220e;
	border-radius: 50px 50px 30px 30px;
	position: fixed;
	left: 140px;
	top: 500px;

}
.house-position-fixed__doorhandle{
	height: 5px;
	width: 5px;
	border: 3px solid #140f0b;
	background: #140f0b;
	border-radius: 5px/5px;
	position: fixed;
	left: 200px;
	top: 535px;
}
.house-position-fixed__window-1, .house-position-fixed__window-2, .house-position-fixed__window-3{
	height: 40px;
	width: 25px;
	border: 2px solid #140f0b;
	background: black;
	position: fixed;
}
.house-position-fixed__window-1{
	top: 490px;
	left: 80px;
}
.house-position-fixed__window-2{
	top: 490px;
	left: 250px;
}
.house-position-fixed__window-3{
	height: 40px;
	width: 70px;
	top: 420px;
	left: 145px;
}
.house-position-fixed__blind-1-1, .house-position-fixed__blind-1-2, 
.house-position-fixed__blind-2-1, .house-position-fixed__blind-2-2, 
.house-position-fixed__blind-3-1, .house-position-fixed__blind-3-2{
	height: 40px;
	width: 10px;
	border: 3px solid #140f0b;
	background: #4d220e;
	position: fixed;
}
.house-position-fixed__blind-1-1, .house-position-fixed__blind-1-2, 
.house-position-fixed__blind-2-1, .house-position-fixed__blind-2-2{
	top: 490px;
}
.house-position-fixed__blind-3-1, .house-position-fixed__blind-3-2{
	top: 420px;
}
.house-position-fixed__blind-1-1{
	left: 65px;
}
.house-position-fixed__blind-1-2{	
	left: 109px;
}
.house-position-fixed__blind-2-1{
	left: 235px;
}
 .house-position-fixed__blind-2-2{
 	left: 279px;
 }
.house-position-fixed__blind-3-1{
	left: 129px;
} 
.house-position-fixed__blind-3-2{
	left: 219px;
}
.house-position-fixed__stairs-1, .house-position-fixed__stairs-2{
	height: 20px;
	border: 1px solid #140f0b;
	background: #4d220e;
	position: fixed;
}
.house-position-fixed__stairs-1{
	width: 100px;
	left: 125px;
	top: 580px;
} 
.house-position-fixed__stairs-2{
	width: 150px;
	left: 100px;
	top: 602px;
} 